body{
    font-size: large;
    background-color: lightblue;
<<<<<<< HEAD
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 40px;
=======
    font-family: ARIAL, Geneva, Tahoma, sans-serif;
>>>>>>> 0abf2616f4d51f39ba26a53442aca44f28c44dfd
}


h1{
    color: blueviolet;
    font-size: 2em;
 }